/* Site */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
input,
.pure-button {
  font-family: inherit;
}
.pure-button-primary {
  background-color: #2780e3;
}
.pure-button-success {
  background-color: #3fb618;
}
.pure-button-info {
  background-color: #9954bb;
}
.pure-button-warning {
  background-color: #ff7518;
}
.pure-button-danger {
  background-color: #ff0039;
}
/* Additional framework code */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* General layout */
.pure-form input {
  box-shadow: none !important;
}
.pure-form legend {
  font-size: 21px;
}
#top .pure-menu {
  background: #2780e3;
  color: #ffffff;
  border-color: #1967be;
}
.pure-menu {
  min-height: 50px;
  position: relative;
  min-height: 45px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(199, 192, 222, 0.1);
}
.pure-menu .pure-menu-heading {
  color: inherit;
  font-weight: 400;
  font-size: 120%;
}
.pure-menu li {
  float: left;
  height: 100%;
  margin: 0 20px;
}
.pure-menu li a {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.pure-menu li a:hover {
  background: #1967be;
}
.pure-menu li.pure-menu-selected a {
  background: #1967be;
  color: inherit;
}
#footer {
  color: #777;
}
/* Pages */
/*#1c1c1f*/
.login-page {
  background: #f2f7fd;
  overflow-x: hidden;
}
.login-page .container {
  padding-top: 90px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.login-page .login-container {
  display: table;
  margin: 0 auto;
}
.login-page .login-box {
  display: table-cell;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 15% auto 0 auto;
  float: none !important;
}
.login-page .errors:after {
  clear: both;
  content: "";
  display: block;
}
.login-page .errors {
  top: 0;
  width: 100%;
}
.login-page footer {
  z-index: 1;
  position: relative;
  height: 50px;
  bottom: 0;
}
@media (min-width: 768px) {
  .login-page .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .login-page .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .login-page .container {
    width: 1170px;
  }
}
.shows-page .show-container {
  margin: 0 auto;
  padding: 0;
  display: block;
  position: relative;
  min-height: 500px;
  overflow: hidden;
}
.shows-page .show-container .show {
  float: left;
  display: inline-block;
  padding: 4px;
  margin-bottom: 20px;
  transform: scale(1, 1);
  transition-delay: 0s, 0s;
}
.shows-page .show-container .show img {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  opacity: 1;
}
.shows-page .show-container .show-title {
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  height: 17px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 3px;
}
.shows-page .show-container .show-poster {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px #fff solid;
  border-radius: 3px;
  position: relative;
}
