{% set scripts = ['pages/shows.js'] %}
{% extends '../layouts/base.html' %}
{% set customClasses = ['shows-page'] %}
{% block content %}
{% if show %}
<div class="show-single">
	<div class="show">
		<h2 class="show-title">{{ show.title }}</h2>
		<div class="show-poster"><a href="/show/{{ show.url|replace('http://trakt.tv/show/', '') }}"><img src="{{ show.images.poster }}" class="pure-img"></a></div>
		<h4 class="show-overview">{{ show.overview }}</h4>
	</div>
</div>
{% else %}
	<p>No show found</p>
{% endif %}
{% endblock %}