{% if user %}
<div class="pure-menu pure-menu-horizontal navbar">
	<a href="/" class="pure-menu-heading">{{ siteName }}</a>
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="/shows" class="pure-menu-link">TV</a></li>
		<li class="pure-menu-item"><a href="/movies" class="pure-menu-link">Movies</a></li>
		<li class="pure-menu-item"><a href="/requests" class="pure-menu-link">Requests</a></li>
	</ul>
	<div id="search-bar">
		<div class="pure-g">
			<form class="pure-form pure-u-1-4">
			    <i class="fa fa-search"></i>
				<input type="text" id="search" placeholder="Search..." autocomplete="off" tabindex="1" autocapitalize="off" search>
			</form>
		</div>
	</div>
</div>
{% else %}
{% endif %}